<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.degreeplanner">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_app_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_app_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".ui.resources.Webreg" />
        <activity android:name=".ui.resources.UCSDCatalog" />
        <activity android:name=".ui.resources.DepartmentAdvising" />
        <activity android:name=".ui.resources.CollegeAdvising" />
        <activity android:name=".ui.requirements.AddRequirement" />
        <activity
            android:name=".activities.WelcomeScreen"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>